* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: black;
    color: white;
    font-size: 48px;
    width: 50vw;
    height: 33%;
    border: 1px solid white;
}

button:hover {
    font-size: 44px;
}

#paper {
    margin-top: -1px;
}

#scissors {
    margin-top: -1px;
}

#choices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

#results {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 80px;
    align-items: center;
    margin-top: 5%;
}

#next {
    display: none;
}

#verb {
    font-size: 38px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#container {
    margin: 0;
    padding: 0;
}

#reset {
    margin-top: 2%;
    font-size: 38px;
    width: 25%;
    justify-content: center;
}

#play-again {
    display: flex;
    justify-content: center;
}

#reset:hover {
    font-size: 34px;
}