* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* buttons */

button {
    background-color: black;
    color: white;
    font-size: 80px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

button:hover {
    font-size: 72px;
}

#paper {
    margin-left: -1px;
}

#scissors {
    margin-right: 1px;
}

.continue {
    margin-top: 6%;
    padding: 2% 0 2% 0;
    width: 200px;
    font-size: 24px;
    height: 15%;
}

.continue:hover {
    font-size: 20px;
}

/* divs */

#container {
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#choices {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;
}

#results {
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 80px;
    align-items: center;
    margin-top: 30px;
}

/* individuals */

#verb {
    font-size: 24px;
    margin: 10% 0 10% 0;
}

#score {
    font-size: 20px;
    margin: 10% 0 10% 0;
}

/*** media queries ***/

@media only screen and (max-width: 800px) {
    #paper {
        margin-top: -1px;
        margin-left: 0px;
    }

    #scissors {
        margin-top: -1px;
        margin-right: 0px;
    }

    #choices {
        flex-direction: column;
        margin-top: 35px;
    }

    #container {
        padding: 5px;
    }
}