* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    display: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: black;
    color: white;
    font-size: 48px;
    width: 100vw;
    height: 33%;
    border: 1px solid white;
}

button:hover {
    font-size: 44px;
}

#paper {
    margin-top: -1px;
}

#scissors {
    margin-top: -1px;
}

#choices {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

#results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}